
1_Android/asgn1/.DS_Store
.DS_Store
*.class
*.kotlin_module
*.xml
*.iml
*.lock
*.bin
*.lock
*.lock
*.jar
*.bin
*.bin
*.lock
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.values.at
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.values.at
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.values.at
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab
1_Android/asgn2/Assignment2/app/build/intermediates/project_dex_archive/debug/out/edu/ucsc/cse118/assignment2/ChannelsFragment.dex
1_Android/asgn2/Assignment2/app/build/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
1_Android/asgn2/Assignment2/app/build/intermediates/dex/debug/mergeProjectDexDebug/9/classes.dex
1_Android/asgn2/Assignment2/app/build/intermediates/apk/debug/app-debug.apk
1_Android/asgn2/Assignment2/.gradle/buildOutputCleanup/buildOutputCleanup.lock
1_Android/asgn2/Assignment2/.gradle/7.5/fileHashes/resourceHashesCache.bin
1_Android/asgn2/Assignment2/.gradle/7.5/fileHashes/fileHashes.lock
1_Android/asgn2/Assignment2/.gradle/7.5/fileHashes/fileHashes.bin
1_Android/asgn2/Assignment2/.gradle/7.5/executionHistory/executionHistory.lock
1_Android/asgn2/Assignment2/.gradle/7.5/executionHistory/executionHistory.bin
1_Android/asgn2/Assignment2/.gradle/7.5/fileHashes/fileHashes.bin
*.bin
*.lock
1_Android/asgn2/Assignment2/app/build/intermediates/incremental/packageDebug/tmp/debug/zip-cache/androidResources
1_Android/asgn2/Assignment2/app/build/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
1_Android/asgn2/Assignment2/app/build/intermediates/incremental/debug/mergeDebugResources/compile-file-map.properties
1_Android/asgn2/Assignment2/app/build/intermediates/dex_archive_input_jar_hashes/debug/out
1_Android/asgn2/Assignment2/app/build/intermediates/dex/debug/mergeProjectDexDebug/9/classes.dex
1_Android/asgn2/Assignment2/app/build/intermediates/dex/debug/mergeProjectDexDebug/0/classes.dex
1_Android/asgn2/Assignment2/app/build/intermediates/compile_and_runtime_not_namespaced_r_class_jar/debug/R.jar
1_Android/asgn2/Assignment2/app/build/intermediates/apk/debug/app-debug.apk
1_Android/asgn2/Assignment2/.gradle/buildOutputCleanup/outputFiles.bin
1_Android/asgn2/Assignment2/.gradle/buildOutputCleanup/buildOutputCleanup.lock
1_Android/asgn2/Assignment2/.gradle/7.5/fileHashes/resourceHashesCache.bin
1_Android/asgn2/Assignment2/.gradle/7.5/fileHashes/fileHashes.lock
1_Android/asgn2/Assignment2/.gradle/7.5/fileHashes/fileHashes.bin
1_Android/asgn2/Assignment2/.gradle/7.5/executionHistory/executionHistory.lock
1_Android/asgn2/Assignment2/.gradle/7.5/executionHistory/executionHistory.bin
1_Android/asgn2/Assignment2/.gradle/7.5/executionHistory/executionHistory.lock
1_Android/asgn2/Assignment2/.gradle/7.5/fileHashes/fileHashes.bin
1_Android/asgn2/Assignment2/.gradle/7.5/fileHashes/fileHashes.lock
1_Android/asgn2/Assignment2/.gradle/7.5/fileHashes/resourceHashesCache.bin
1_Android/asgn2/Assignment2/.gradle/buildOutputCleanup/buildOutputCleanup.lock
1_Android/asgn2/Assignment2/.gradle/buildOutputCleanup/outputFiles.bin
1_Android/asgn2/Assignment2/app/build/intermediates/apk/debug/app-debug.apk
1_Android/asgn2/Assignment2/app/build/intermediates/compile_and_runtime_not_namespaced_r_class_jar/debug/R.jar
1_Android/asgn2/Assignment2/app/build/intermediates/dex/debug/mergeProjectDexDebug/0/classes.dex
1_Android/asgn2/Assignment2/app/build/intermediates/dex/debug/mergeProjectDexDebug/9/classes.dex
1_Android/asgn2/Assignment2/app/build/intermediates/dex_archive_input_jar_hashes/debug/out
1_Android/asgn2/Assignment2/app/build/intermediates/incremental/debug/mergeDebugResources/compile-file-map.properties
1_Android/asgn2/Assignment2/app/build/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
1_Android/asgn2/Assignment2/app/build/intermediates/incremental/packageDebug/tmp/debug/zip-cache/androidResources
1_Android/asgn2/Assignment2/app/build/intermediates/merged_res_blame_folder/debug/out/single/debug.json
1_Android/asgn2/Assignment2/app/build/intermediates/processed_res/debug/out/resources-debug.ap_
1_Android/asgn2/Assignment2/app/build/intermediates/project_dex_archive/debug/out/edu/ucsc/cse118/assignment2/ChannelAdapter$ChannelViewHolder.dex
1_Android/asgn2/Assignment2/app/build/intermediates/project_dex_archive/debug/out/edu/ucsc/cse118/assignment2/ChannelAdapter.dex
1_Android/asgn2/Assignment2/app/build/intermediates/project_dex_archive/debug/out/edu/ucsc/cse118/assignment2/ChannelsFragment$onViewCreated$1.dex
1_Android/asgn2/Assignment2/app/build/intermediates/project_dex_archive/debug/out/edu/ucsc/cse118/assignment2/ChannelsFragment.dex
1_Android/asgn2/Assignment2/app/build/intermediates/project_dex_archive/debug/out/edu/ucsc/cse118/assignment2/MessageAdapter$MessageViewHolder.dex
1_Android/asgn2/Assignment2/app/build/intermediates/project_dex_archive/debug/out/edu/ucsc/cse118/assignment2/MessageAdapter.dex
1_Android/asgn2/Assignment2/app/build/intermediates/project_dex_archive/debug/out/edu/ucsc/cse118/assignment2/MessagesFragment$onViewCreated$$inlined$sortedBy$1.dex
1_Android/asgn2/Assignment2/app/build/intermediates/project_dex_archive/debug/out/edu/ucsc/cse118/assignment2/MessagesFragment.dex
1_Android/asgn2/Assignment2/app/build/intermediates/runtime_symbol_list/debug/R.txt
1_Android/asgn2/Assignment2/app/build/intermediates/stable_resource_ids_file/debug/stableIds.txt
1_Android/asgn2/Assignment2/app/build/intermediates/symbol_list_with_package_name/debug/package-aware-r.txt
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.keystream
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.keystream.len
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.len
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.values.at
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab_i
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.keystream
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.keystream.len
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.len
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.values.at
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab_i
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream.len
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.len
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.values.at
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream.len
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.len
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.keystream
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.keystream.len
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.len
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.values.at
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab_i
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream.len
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.len
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab_i
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab.values.at
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab.keystream
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab.keystream.len
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab.len
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab.values.at
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab_i
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/counters.tab
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.keystream
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.keystream.len
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.len
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.values.at
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab_i
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.keystream
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.keystream.len
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.len
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.values.at
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab_i
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab.keystream
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab.keystream.len
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab.len
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab.values
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab.values.at
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab.values.s
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab_i
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/last-build.bin
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/local-state/build-history.bin
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.keystream
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.keystream.len
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.len
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.values.at
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab_i
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.keystream
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.keystream.len
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.len
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.values.at
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab_i
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream.len
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.len
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.values.at
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream.len
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.len
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.keystream
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.keystream.len
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.len
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.values
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.values.at
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.values.s
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab_i
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream.len
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.len
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab_i
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab.values.at
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab.keystream
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab.keystream.len
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab.len
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab.values.at
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab_i
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/lookups/counters.tab
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.keystream
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.keystream.len
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.len
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.values.at
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab_i
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.values.at
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab.keystream
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab.keystream.len
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab.len
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab.values.at
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab_i
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/cacheable/last-build.bin
1_Android/asgn2/Assignment2/app/build/kotlin/kaptGenerateStubsDebugKotlin/local-state/build-history.bin
1_Android/asgn2/Assignment2/app/build/tmp/kapt3/incApCache/debug/classpath-structure.bin
1_Android/asgn2/Assignment2/app/build/tmp/kapt3/incApCache/debug/java-cache.bin
1_Android/asgn2/Assignment2/app/build/tmp/kapt3/stubs/debug/edu/ucsc/cse118/assignment2/ChannelAdapter.java
1_Android/asgn2/Assignment2/app/build/tmp/kapt3/stubs/debug/edu/ucsc/cse118/assignment2/ChannelAdapter.kapt_metadata
1_Android/asgn2/Assignment2/app/build/tmp/kapt3/stubs/debug/edu/ucsc/cse118/assignment2/ChannelsFragment.java
1_Android/asgn2/Assignment2/app/build/tmp/kapt3/stubs/debug/edu/ucsc/cse118/assignment2/ChannelsFragment.kapt_metadata
1_Android/asgn2/Assignment2/app/build/tmp/kapt3/stubs/debug/edu/ucsc/cse118/assignment2/MessageAdapter.java
1_Android/asgn2/Assignment2/app/build/tmp/kapt3/stubs/debug/edu/ucsc/cse118/assignment2/MessageAdapter.kapt_metadata
1_Android/asgn2/Assignment2/app/build/tmp/kapt3/stubs/debug/edu/ucsc/cse118/assignment2/MessagesFragment.java
1_Android/asgn2/Assignment2/app/build/tmp/kapt3/stubs/debug/edu/ucsc/cse118/assignment2/MessagesFragment.kapt_metadata
1_Android/asgn2/Assignment2/app/build/tmp/kapt3/stubs/debug/edu/ucsc/cse118/assignment2/WorkspacesFragment.kapt_metadata
*.dex
*.txt
*.tab
*.keystream
*.len
