
1_Android/asgn1/.DS_Store
.DS_Store
*.class
*.kotlin_module
*.xml
*.iml
*.lock
*.bin
*.lock
*.lock
*.jar
*.bin
*.bin
*.lock
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.values.at
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.values.at
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.values.at
1_Android/asgn2/Assignment2/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab
1_Android/asgn2/Assignment2/app/build/intermediates/project_dex_archive/debug/out/edu/ucsc/cse118/assignment2/ChannelsFragment.dex
1_Android/asgn2/Assignment2/app/build/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
1_Android/asgn2/Assignment2/app/build/intermediates/dex/debug/mergeProjectDexDebug/9/classes.dex
1_Android/asgn2/Assignment2/app/build/intermediates/apk/debug/app-debug.apk
1_Android/asgn2/Assignment2/.gradle/buildOutputCleanup/buildOutputCleanup.lock
1_Android/asgn2/Assignment2/.gradle/7.5/fileHashes/resourceHashesCache.bin
1_Android/asgn2/Assignment2/.gradle/7.5/fileHashes/fileHashes.lock
1_Android/asgn2/Assignment2/.gradle/7.5/fileHashes/fileHashes.bin
1_Android/asgn2/Assignment2/.gradle/7.5/executionHistory/executionHistory.lock
1_Android/asgn2/Assignment2/.gradle/7.5/executionHistory/executionHistory.bin
1_Android/asgn2/Assignment2/.gradle/7.5/fileHashes/fileHashes.bin
*.bin
*.lock
